@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  border: 0;
  outline: 0;
}
body {
  font-family: "Mulish", sans-serif;
}

/* shared styles */
.burger-icon{
  display: none;
}
.dflex {
  display: flex;
}
.container {
  width: 95%;
  margin: 5rem auto;
  border-radius: 8px;
}
.text-center{
  text-align: center;
}
.text-black{
  color: black;
}
h1{
    font-size: 4rem;
    color: white;
}
h2{
    font-size: 3rem;
}
p{
    color: rgba(255, 255, 255, 0.83);
    font-size: 1rem;
}

input,select{
    padding: 1rem .5rem;
    border-radius: 4px;
    margin: 10px;
    font-weight: 700;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.278);
    color: white;
    width: 7rem;
}
input::placeholder {
    color: #ffffff; /* Change this to the desired color */
    opacity: 1; /* Optional: Ensure the color opacity is 100% */
}
.btn {
    background-color: tomato; /* Button background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.btn:hover {
    background-color: darkred; /* Background color on hover */
}

/* navbar styles */
nav {
  align-items: center;
  justify-content: space-between;
  margin-top: 20px !important;
}
.logo {
  align-items: center;
  gap: 10px;
}
.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* hero section starts */
.hero-section {
  align-items: center;
  justify-content: center;
  padding: 7rem 0;
  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    url(../Images/Group\ 13\ \(1\)\ \(1\).png);
  background-size: cover; /* Adjust as necessary */
  background-repeat: no-repeat; /* Adjust as necessary */
}
.textandselect {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}



/* popular tours serciton */
.populer-tours{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.populer-tours .text-part{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}




/* destination  */
.row1,.row2,.row3 {
  display: grid;
  grid-template-columns: .7fr 1.3fr;
  gap: 1rem; /* Adjust the gap as needed */
  margin: 2rem 0;
}
.row2{
  grid-template-columns: .6fr 1fr .4fr;
}
.row3{
  grid-template-columns: 1.3fr .7fr;
  margin-bottom: 0;
}

.image-gallery div {
  position: relative;
}

.image-gallery img {
  width: 100%;
  height: 300px;
  display: block;
  filter: brightness(80%);
}

.image-gallery p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em; /* Adjust as needed */
}

@media screen and (max-width: 570px) {
  .burger-icon{
    display: block;
  }
  .nav-links{
    display: none;
  }
  .nav-style{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffffd8;
    width: 90%;
    height: 50%;
    top: 6rem;
    right: 1rem;
    left: 1rem;
    border-radius: 8px;
  }
  h1{
    font-size: 3rem;
  }
  .inputs{
    display: flex;
    flex-direction: column;
  }
  .container{
    text-align: center;
  }
  h2{
    font-size: 2rem;
  }
  .populer-tours{
    grid-template-columns: 1fr;
  }
  .row1,.row2,.row3{
    grid-template-columns: 1fr;
  }
}